body {
    color: #FBFBFB;
    /* overflow: hidden; */
    }
[data-anchor=Contact] .email {
    color: #FBFBFB;
}
[data-anchor=Contact] p {
    color: #FBFBFB;
}
h3 {
    font-size: 2.125rem;
    line-height: 1.35;
}
.h1, h1 {
    font-size: 3rem;
}
.vlt-gap-140 {
    height: 3.75rem;
}
.vlt-gap-50 {
    height: 0.125rem;
}
.vlt-timeline-item {
    padding: 2.125rem 0px;
}
.vlt-gap-150 {
    height: 8.375rem;
}
.vlt-gap-30 {
    height: 0.875rem;
}
.vlt-gap-40 {
    height: 0.5rem;
}
.vlt-timeline-item__text {
    font-size: .9375rem;
    color: #FBFBFB;
}

.vlt-timeline-item__date {
    font-size: 1.3rem;
    display: block;
    margin-bottom: .3125rem;
    color: #FBFBFB;
}
.vlt-timeline-item__title{
    line-height: 1.6;
}
.vlt-testimonial__function {
    color: #FBFBFB;
}
.vlt-testimonial__text {
    color: #FBFBFB;
}
.vlt-project-excerpt {
    font-size: .9375rem;
    max-width: 24.375rem;
    margin-top: 2.5rem;
    margin-bottom: 4.6875rem;
    color: #FBFBFB;
}
.d-none {
    display: none;
}
.vlt-gap-15 {
    height: .5rem;
}
.vlt-gap-45 {
    height: 1.25rem;
}
.vlt-gap-70 {
    height: 1.5rem 
}
.vlt-gap-70--lg {
    height: 1.5rem
}
.vlt-gap-75 {
    height: 1.75rem
}
.vlt-gap-100 {
    height: 2rem;
}
.vlt-gap-100--lg {
    height: 2rem
}
.vlt-gap-160 {
    height: 3rem
}
.vlt-gap-215 {
    height: 5rem
}

.vlt-fullpage-slider .vlt-section__content {
    position: relative;
    z-index: 2;
    display: flex;
    width: 100%;
    min-height: 100%;
    padding: 5%;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    -webkit-box-align: center;
    align-items: center;
}
.vlt-fixed-socials {
    left: 2rem;
    padding: 7.5rem 2.5rem;
}
.vlt-fixed-socials::after,.vlt-fixed-socials::before {
    width: 1px;
    height: 100%;
    margin: 0 auto;
    content: '';
    background-color: rgba(255,255,255,.4)
}
.vlt-fixed-socials::before {
    margin-bottom: 2.5rem
}
.vlt-fixed-socials::after {
    margin-top: 2.5rem
}
.vlt-offcanvas-menu__socials .vlt-social-icon.vlt-social-icon--style-1 {
    font-size: 1.25rem;
    padding: 2.5%;
    border: 1px solid;
    border-radius: 50%;
}
.vlt-offcanvas-menu__header {
    justify-content: flex-end;
    padding-bottom: 0.5rem;
}
.vlt-offcanvas-menu__navigation .sf-menu>li {
    padding: .5rem 0;
}
.vlt-offcanvas-menu__navigation .sf-menu>li>a {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1;
    padding: .25rem 0;
    letter-spacing: 0em;
}
.vlt-offcanvas-menu__socials {
    margin-bottom: 1rem
}
.vlt-offcanvas-menu__footer {
    padding-top: 1rem;
}
.vlt-navbar .vlt-navbar-inner {
    padding: 2rem 3.5rem;
}
.vlt-navbar .vlt-navbar-logo img {
    display: block;
    height: 50px !important;
    position: absolute;
    left: 5.5%;
    top: 10%;
}
.vlt-fullpage-slider .vlt-section .vlt-section__ken-burn-background img {
    position: absolute;
    z-index: -99;
    /* left: 20%; */
    /* object-fit: contain; */
}
.h1.vlt-large-heading,
h1.vlt-large-heading {
    font-size: 5rem;
    font-weight: 600
}
[data-anchor=Home] p {
    text-align: justify;
    line-height: 26px;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 1rem;
    max-width: 100%;
    color: #FBFBFB
}
.vlt-fullpage-slider .vlt-section .vlt-section__ken-burn-background-about img {
    position: absolute;
    z-index: -99;
    left: 0%;
    top: 0%;
    object-fit: cover;
    border-right: none;
}
[data-anchor=About] p {
    text-indent: 2.5em;
    text-align: justify;
    line-height: 20px;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 1rem;
    max-width: 100%;
    color: rgba(255,255,255,.6)
}
.vlt-fullpage-slider .vlt-section .vlt-section__ken-burn-background-about-sign img {
    position: absolute;
    z-index: -99;
    left: 0%;
    bottom: -20%;
    scale: 0.75;
    object-fit: contain;
    border-right: none;
}
.vlt-experience-block {
    max-width: 100%;
    padding: 0%;
    text-align: right;
    border-image: initial;
    border: none;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}
.vlt-fullpage-slider .vlt-section .vlt-section__ken-burn-background-reviews img {
    margin-left: -2.5%;
    margin-bottom: 5%;
    position: absolute;
    z-index: -99;
    left: 7.5%;
    bottom: 10%;
    scale: 1.5;
    object-fit: contain;
    border-right: none;
}
.vlt-testimonial__text p{
    font-size: 0.9rem;
    line-height: 2;
    word-spacing: 1;
    letter-spacing: 1;
}
.swiper-container-autoheight,.swiper-container-autoheight .swiper-slide {
    height: auto;
    min-height: 360px;
    width: 100% !important;
}

.vlt-footer {
    padding: 0% 5% 1.5%;
}
.vlt-footer-copyright {
    font-size: 1rem;
    pointer-events: auto
}

/* Responsive Modes */
@media (min-width: 1024px) {
    /* Styles for desktop devices */
}

@media (min-width: 768px) and (max-width: 1023px) {
    /* Styles for tablet devices */

    .vlt-fullpage-slider .vlt-section .vlt-section__ken-burn-background.has-mobile-image img:nth-child(1),
    .vlt-fullpage-slider .vlt-section .vlt-section__ken-burn-background-about.has-mobile-image img:nth-child(1),
    .vlt-fullpage-slider .vlt-section .vlt-section__ken-burn-background-about-sign.has-mobile-image img:nth-child(1),
    .vlt-fullpage-slider .vlt-section .vlt-section__ken-burn-background-reviews.has-mobile-image img:nth-child(1) {
        display:none
    }
    .vlt-fullpage-slider .vlt-section .vlt-section__ken-burn-background.has-mobile-image img:nth-child(2),
    .vlt-fullpage-slider .vlt-section .vlt-section__ken-burn-background-about.has-mobile-image img:nth-child(2),
    .vlt-fullpage-slider .vlt-section .vlt-section__ken-burn-background-about-sign.has-mobile-image img:nth-child(2),
    .vlt-fullpage-slider .vlt-section .vlt-section__ken-burn-background-reviews.has-mobile-image img:nth-child(2) {
        display: block;
        position: relative;
    }
    .vlt-fullpage-slider .vlt-section .vlt-section__ken-burn-background img {
        left: 0%;
    }
    .vlt-fullpage-slider .vlt-section__content {
        padding: 7.5% 10%;
    }
    .vlt-fixed-socials {
        left: 0rem;
    }
    .vlt-fullpage-slider .vlt-section .vlt-section__ken-burn-background-reviews img {
        margin-left: -2.5%;
        margin-bottom: 5%;
        position: absolute;
        z-index: -99;
        left: 7.5%;
        bottom: 30%;
        scale: 1.5;
        object-fit: contain;
        border-right: none;
    }
}

@media (max-width: 767px) {
    /* Styles for mobile devices */

    .vlt-fullpage-slider .vlt-section .vlt-section__ken-burn-background.has-mobile-image img:nth-child(1),
    .vlt-fullpage-slider .vlt-section .vlt-section__ken-burn-background-about.has-mobile-image img:nth-child(1),
    .vlt-fullpage-slider .vlt-section .vlt-section__ken-burn-background-about-sign.has-mobile-image img:nth-child(1),
    .vlt-fullpage-slider .vlt-section .vlt-section__ken-burn-background-reviews.has-mobile-image img:nth-child(1) {
        display:none
    }
    .vlt-fullpage-slider .vlt-section .vlt-section__ken-burn-background.has-mobile-image img:nth-child(2),
    .vlt-fullpage-slider .vlt-section .vlt-section__ken-burn-background-about.has-mobile-image img:nth-child(2),
    .vlt-fullpage-slider .vlt-section .vlt-section__ken-burn-background-about-sign.has-mobile-image img:nth-child(2),
    .vlt-fullpage-slider .vlt-section .vlt-section__ken-burn-background-reviews.has-mobile-image img:nth-child(2) {
        display: block;
        position: relative;
    }

    .vlt-fullpage-slider .vlt-section .vlt-section__ken-burn-background img {
        left: 0%;
    }
    .vlt-fullpage-slider .vlt-section .vlt-section__ken-burn-background-about-sign img {
        position: absolute;
        z-index: -99;
        left: -5%;
        bottom: -25%;
        scale: 0.75;
        object-fit: contain;
        border-right: none;
    }
    .about-content .h3,
    .about-content h3{
        font-size: 2.15rem;
    }
    .reviews{
        margin-top: 7.5rem;
    }
    .reviews .h3,
    .reviews h3 {
        font-size: 2rem;
        line-height: 1
    }
    .h1.vlt-large-heading,
    h1.vlt-large-heading {
        font-size: 2.5rem;
        font-weight: 600
    }
    .vlt-footer-copyright {
        font-size: 0.725rem;
        pointer-events: auto
    }
    .vlt-fullpage-slider .vlt-section__content {
        padding: 5% 2.5%;
    }

}
.vlt-partners {
    display: grid;
    margin: 0px 0.5rem;
    padding: 0;
    list-style-type: none;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2.5rem;
    grid-row-gap: 2.5rem;
}
.vlt-partners li img {
    background-color: #FBFBFB;
    opacity:6!important;
    border-radius: 6px;
}

.news-item__title {
    font-family: "NeueMontreal-Medium", sans-serif;
    font-size: 25px;
    line-height: 130%;
    color: #fff;
    padding-right: 20px;
}
.news-item__info {
    display: -webkit-flex;
    /* display: -ms-flexbox; */
    display: flex;
    /* -webkit-align-items: center;
    -ms-flex-align: center; */
    align-items: center;
    margin-bottom: 12px;
}

.news-item__info-date {
    margin-right: 0.5rem;
    color:rgb(207, 0, 15);
}
.news-item__info-tag {
    color: #fff;
}
.linked-align{
    font-size: 2.3rem;
    font-weight:800;
    padding: 18px;
}
.linked-title{
    font-size: 1.3rem;
    font-weight:800;
    padding: 0px 18px 18px 8px;
}
.s-icon{
    border-radius:50%; 
}
.news-item-wrap .vlt-read-more-link svg {
    height: 10px;
    margin-left: .625rem;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}

/* lists */


.olcards,
.olcards * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.olcards {
  list-style: none;
  counter-reset: cardCount;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  --cardsGap: 1rem;
  gap: var(--cardsGap);
  padding-bottom: var(--cardsGap);
  
}
.olcards li {
  counter-increment: cardCount;
  display: flex;
  color: white;
  --labelOffset: 1rem;
  --arrowClipSize: 1.5rem;
  margin-top: var(--labelOffset);
  min-width: 100%!important;
  
}

.olcards li::before {
  content: counter(cardCount, decimal-leading-zero);
  background: white;
  color: var(--cardColor);
  font-size: 2em;
  font-weight: 700;
  transform: translateY(calc(-1 * var(--labelOffset)));
  margin-right: calc(-1 * var(--labelOffset));
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 0.5em;
  
}

.olcards li .content {
  background-color: var(--cardColor);
  --inlinePadding: 1em;
  --boxPadding: 0.5em;
  display: grid;
  padding: var(--boxPadding) calc(var(--inlinePadding) + var(--arrowClipSize))
    var(--boxPadding) calc(var(--inlinePadding) + var(--labelOffset));
  grid-template-areas:
    "icon title"
    "icon text";
  gap: 0.25em 1em;
  clip-path: polygon(
    0 0,
    calc(100% - var(--arrowClipSize)) 0,
    100% 50%,
    calc(100% - var(--arrowClipSize)) 100%,
    calc(100% - var(--arrowClipSize)) calc(100% + var(--cardsGap)),
    0 calc(100% + var(--cardsGap))
  );

  position: relative;
  
}
.olcards li .content::before {
  content: "";
  position: absolute;
  width: var(--labelOffset);
  height: var(--labelOffset);
  background: var(--cardColor);
  left: 0;
  bottom: 0;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  filter: brightness(0.75);
  

}
.olcards li .content::after {
  content: "";
  position: absolute;
  height: var(--cardsGap);
  width: var(--cardsGap);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.25), transparent 50%);
  left: 0;
  top: 100%;
  
}
.olcards li .icon {
  grid-area: icon;
  align-self: center;
  font-size: 2em;
}
.olcards li .content .title {
  grid-area: title;
  font-size: 1.25em;
  
  /* font-weight: 700; */
}
@media (min-width: 767px) {
.olcards li .content .text {
  grid-area: text;
  min-width: 550px;
  
}
}
@media (max-width: 576px) {
    .olcards li .content .text {
      grid-area: text;
     
      
    }
    .has-accent-color {
        margin-top: 0px !important;
    }
    }
    
/* port */
.vlt-project-title {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.1;
}
.qualification{
    margin-top: 30px;
}
.cert{
    margin-top: -62px;
    text-align: center;
}
.info{
    text-align: justify;
    margin-left: 5px;
}

/* Mobile styles  */

@media (max-width: 767px) {
    .vlt-footer-copyright {
        font-size: 0.725rem;
        pointer-events: auto;
    }
    .vlt-language-switcher {
        font-size: 0.725rem;
        pointer-events: auto;
    }
 
}

  
.has-accent-color {
    margin-top: -400px;
    color: #cf000f;
}
 /* Calendly  */
 .calendly-badge-widget {
    bottom: 10.5% !important;
    right: 2.5% !important;
}
.calendly-badge-widget .calendly-badge-content {
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
    color: #fff;
    cursor: pointer;
    display: table-cell;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    height: 45px;
    padding: 0 30px;
    text-align: center;
    vertical-align: middle;
    width: auto;
}
.vlt-post-hero-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 50vh;
    padding: 3rem 0 3.75rem;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}
[data-anchor="Awards"] .vlt-animated-block {
    margin-bottom: -50px !important;
}


