/* Awards section  */
/* .vlt-post--masonry .vlt-post-header {
    margin-bottom: 2.5%;
}
.vlt-post--masonry .vlt-post-footer {
    margin-top: 2.5%;
}
.vlt-post--masonry .vlt-post-content {
    padding: 2.5% 5%;
}
.vlt-post--masonry .vlt-post-media img {
    width: 100%;
    height: auto;
}
.vlt-post--masonry .vlt-post-header .vlt-post-title {
    font-size: 20px;
    font-weight: 500;
    min-height: 40px;
}
.vlt-post--masonry .vlt-read-more-link {
    display: none;
} */






/* 2.21 Cases */
.cases {
  position: relative;
  overflow: hidden;
}

.cases__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}

.cases__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-animation: runningLine 10s linear infinite;
          animation: runningLine 10s linear infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@media (max-width: 1000px) {
  .cases__row {
    -webkit-animation-play-state: running;
            animation-play-state: running;
  }
}

.cases__row:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.cases__row-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

@-webkit-keyframes runningLine {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-33.3%);
            transform: translateX(-33.3%);
  }
}

@keyframes runningLine {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-33.3%);
            transform: translateX(-33.3%);
  }
}

@-webkit-keyframes runningLineWrap {
  0% {
    -webkit-transform: translateX(-33.3%);
            transform: translateX(-33.3%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes runningLineWrap {
  0% {
    -webkit-transform: translateX(-33.3%);
            transform: translateX(-33.3%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.cases__card {
  width: 427px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  height: 300px;
  border-left: 1px solid #787A7C;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

@media (max-width: 1000px) {
  .cases__card {
    width: 350px;
    height: 620px;
  }
}

@media (max-width: 450px) {
  .cases__card {
    width: 300px;
    height: 580px;
  }
}

.cases__card:hover {
  cursor: url("../img/cases/cursor.jpg") 62 62, pointer;
}

.cases__card:hover img {
  opacity: 0;
}

@media (max-width: 1000px) {
  .cases__card:hover img {
    opacity: 1;
  }
}

.cases__text {
  position: absolute;
  bottom: 5%;
  left: 15%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: left;
          transform-origin: left;
  width: 100%;
  z-index: 5;
}
.cases__card-number {
  font-size: 22px;
  line-height: 100%;
  color: #F3F3F3;
}

.cases__card-name {
  font-size: 40px;
  line-height: 110%;
  color: #F3F3F3;
}

@media (max-height: 850px) {
  .cases__card-name {
    font-size: 36px;
  }
}

@media (max-width: 1000px) {
  .cases__card-name {
    font-size: 48px;
  }
}

.cases__card-img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  opacity: 1;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (max-width: 1000px) {
  .cases__card-img {
    opacity: 1;
  }
}